/* Reseteo */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #faf1dc;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-image: url(../images/images-nico/cara-personas.jpeg);
  width: 100%;
}

/* Fin header */
/* nombre */
h1 {
  font-family: "Nunito", sans-serif;
  font-size: 100px;
  font-weight: 800;
  width: 100%;
  color: #000000;
  text-shadow: 5px 5px 20px white;
  text-align: center;
}

/* fin nombre */
.navbar {
  display: inline-block;
  background: #f1d89d;
  width: 100%;
  text-align: center;
}
.navbar a {
  padding: 0 20px;
  color: #1a1a1a;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Reenie Beanie", cursive;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  justify-content: center;
  margin: auto;
}

/* Titulos secciones */
.title {
  margin-bottom: 40px;
  font: 60px "Reenie Beanie", cursive;
  text-transform: uppercase;
  background: #f1d89d;
  margin: 0;
  border-bottom: solid black 0.5px;
  text-align: center;
  color: #000000;
  width: 100%;
}

p {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.content {
  padding: 80px 0;
  width: 100%;
}

/* Fin titulo secciones */
/* Quien soy */
.contenido-quien p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-align: center;
}

/* Fin quien soy */
/* Pinturas */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: #faf1dc;
  padding: 40px;
  width: 100%;
  justify-content: center;
}
.flex-container div {
  width: 500px;
  height: 100%;
  margin: 20px;
}
.flex-container img p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.imagen-flex {
  width: 100%;
  box-shadow: 7px 33px 50px #777777;
}

/* Fin pinturas */
/* Inspiracion */
.contenido-inspiracion {
  background-color: #faf1dc;
  width: 100%;
}

.texto-basquiat {
  width: 540px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: justify;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.texto-basquiat img {
  width: 310px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.capa {
  width: 100%;
}

/* Fin seccion inspiracion */
/* Contato */
.section-contacto {
  background-color: #faf1dc;
}

.form-contacto {
  width: 400px;
  background: #faf1dc;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 7px 10px 37px #000;
  border-radius: 10px;
}
.form-contacto h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #000;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

label {
  font-family: "Nunito", sans-serif;
  justify-content: left;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  background: #cacaca;
}

.form-buton {
  width: 100%;
  background: #cacaca;
  border: 1px solid;
  border-radius: 5px;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* Fin contacto */
/* Footer */
footer {
  width: 100%;
  padding: 5px 0px;
  background-color: #f1d89d;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  margin-top: 100px;
}

.box_footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-family: "Nunito", sans-serif;
}
.box_footer .logo img {
  width: 180px;
}
.box_footer .frase {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 18px;
}
.box_footer h2 {
  margin-bottom: 30px;
  color: #1a1a1a;
}
.box_footer a {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #1a1a1a;
}
.box_footer a .fab {
  font-size: 20px;
}
.box_footer a:hover {
  opacity: 0.2;
  color: black;
}

.redes {
  font-size: 25px;
  font-weight: 600;
}

.box_copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box_copyright p {
  margin-top: 20px;
  color: #1a1a1a;
}
.box_copyright hr {
  height: 1px;
  background-color: #1a1a1a;
}

/* Fin pie pagina */
/* Medias queries */
@media only screen and (max-width: 320px) {
  .navbar {
    width: 100%;
    font-size: 10px;
  }

  .navbar a {
    font-size: 20px;
  }

  h2, .title {
    font-size: 30px;
  }

  .pie-font, .pie-redes {
    font-size: 20px;
    width: 100%;
  }

  .form-contacto, .form-input {
    width: 100%;
  }

  .texto-basquiat img {
    width: 50%;
  }

  .texto-basquiat {
    width: 80%;
  }
}
/* Fin medias queries */

/*# sourceMappingURL=style.css.map */
