/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #FFECC3;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-image: url();
  background-size: cover;
}

/* Fin header */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background: #BF9E58;
  border-radius: 20px black;
}
.navbar a {
  padding: 0 20px;
  color: #FFECC3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Reenie Beanie", cursive;
  font-size: 30px;
  font-weight: 700;
}

/* nombre */
h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 150px;
  opacity: 1;
  font-weight: 200;
}

/* fin nombre */
/* Titulos secciones */
.title {
  margin-bottom: 40px;
  font: 60px "Reenie Beanie", cursive;
  text-transform: uppercase;
  background: #CEAB61;
  margin: 0;
  border-bottom: solid black 0.5px;
  text-align: center;
  color: #FFECC3;
}

p {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content {
  padding: 80px 0;
}

/* Fin titulo secciones */
/* Quien soy */
.contenido-quien p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: center;
}

/* Fin quien soy */
/* Pinturas */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: #FFECC3;
  padding: 40px;
  width: 100%;
  justify-content: center;
}
.flex-container div {
  width: 500px;
  height: 600px;
  margin: 40px;
}
.flex-container img p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.imagen-flex {
  width: 100%;
  height: 100%;
  box-shadow: 7px 33px 50px #777777;
}

/* Fin pinturas */
/* Inspiracion */
.contenido-inspiracion {
  background-color: #FFECC3;
}

.texto-basquiat {
  width: 540px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: justify;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.texto-basquiat img {
  width: 310px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.capa {
  width: 100%;
}

.video {
  display: flex;
  width: 50%;
  margin: 100px auto;
  box-shadow: 5px 30px 70px #000;
}

/* Fin seccion inspiracion */
/* Contato */
.section-contacto {
  background-color: #FFECC3;
}

.form-contacto {
  width: 400px;
  background: whitesmoke;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 7px 10px 37px #000;
  border-radius: 10px;
}
.form-contacto h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: left;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background: #d6d6d6;
}

.form-buton {
  width: 100%;
  background: #d6d6d6;
  border: 1px solid;
  border-radius: 5px;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

/* Fin contacto */
/* Footer */
footer {
  width: 100%;
  padding: 5px 0px;
  background-color: #BF9E58;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  margin-top: 100px;
}

.box_footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.box_footer .logo img {
  width: 180px;
}
.box_footer .frase {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #FFECC3;
  font-size: 18px;
}
.box_footer h2 {
  margin-bottom: 30px;
  color: #FFECC3;
}
.box_footer a {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #FFECC3;
}
.box_footer a .fab {
  font-size: 20px;
}
.box_footer a:hover {
  opacity: 0.2;
  color: black;
}

.redes {
  font-size: 25px;
  font-weight: 600;
}

.box_copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box_copyright p {
  margin-top: 20px;
  color: #FFECC3;
}
.box_copyright hr {
  height: 1px;
  background-color: #FFECC3;
}

/* Fin pie pagina */
/* Medias queries */
@media only screen and (max-width: 320px) {
  .pie-font, .pie-redes {
    font-size: 20px;
    width: 50%;
  }

  .form-contacto, .form-contacto, .form-input {
    width: 100%;
  }

  .form-contacto {
    width: 300px;
  }

  .texto-basquiat img {
    width: 50%;
  }

  .texto-basquiat {
    width: 80%;
  }
}
/* Fin medias queries */

/*# sourceMappingURL=style.css.map */
