/* Reseteo */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

/* Header */
header {
  display: flex;
  padding: 100px;
  background-image: url(../images/images-nico/cabeza.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Fin header */
/* nombre */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 800;
  width: 100%;
  color: #252525;
  text-align: center;
}

.focus {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
/* Fin nombre */
.navbar {
  display: inline-block;
  background: linear-gradient(to top, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  width: 100%;
  text-align: center;
}
.navbar a {
  padding: 0 20px;
  color: #1a1a1a;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  justify-content: center;
  margin: auto;
}
.navbar a:hover {
  color: #535353;
}

/* Titulos secciones */
.title {
  margin-bottom: 40px;
  font: 60px "Roboto", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  margin: 0;
  border-bottom: solid black 0.5px;
  text-align: center;
  color: #000000;
  width: 100%;
}

p {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.content {
  padding: 80px 0;
  width: 100%;
}

/* Fin titulo secciones */
/* Quien soy */
.contenido-quien .nico-text {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}

/* Fin quien soy */
/* Pinturas */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
  width: 100%;
  justify-content: center;
}
.flex-container div {
  width: 500px;
  height: 100%;
  margin: 20px;
}
.flex-container img p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.imagen-flex {
  width: 100%;
  box-shadow: 7px -20px 50px #777777;
}

/* Fin pinturas */
/* Inspiracion */
.contenido-inspiracion {
  width: 100%;
}

.texto-basquiat {
  width: 540px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: justify;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.texto-basquiat img {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.capa {
  width: 100%;
}

/* Fin seccion inspiracion */
/* Contato */
.section-contacto {
  width: 100%;
}

.form-contacto {
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  padding: 30px;
  margin: 20px 200px 20px 200px;
  box-shadow: 7px 10px 37px #000;
  border-radius: 10px;
}
.form-contacto h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: center;
}

label {
  font-family: "Roboto", sans-serif;
  justify-content: left;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.form-buton {
  width: 100%;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  border: 1px solid;
  border-radius: 5px;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* Fin contacto */
/* Footer */
footer {
  width: 100%;
  padding: 5px 0px;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  margin-top: 100px;
}

.box_footer {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}
.box_footer .logo img {
  width: 180px;
  margin-left: 100px;
}
.box_footer .frase {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 18px;
}
.box_footer h2 {
  margin-bottom: 30px;
  color: #1a1a1a;
}
.box_footer a {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #1a1a1a;
}
.box_footer a:hover {
  color: #535353;
}

.redes {
  font-size: 25px;
  font-weight: 600;
}

.box_copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box_copyright p {
  margin-top: 20px;
  color: #1a1a1a;
}
.box_copyright hr {
  height: 1px;
  background-color: #1a1a1a;
}

/* Fin pie pagina */
/* Medias queries */
@media only screen and (max-width: 560px) {
  h1 {
    width: 100%;
    font-size: 60px;
  }

  .navbar {
    width: 100%;
    font-size: 10px;
  }

  .navbar a {
    font-size: 16px;
    font-weight: normal;
  }

  .contenido-quien p {
    width: 100%;
  }

  h2, .title {
    font-size: 20px;
  }

  .pie-font, .pie-redes {
    font-size: 20px;
    width: 100%;
  }

  .form-contacto, .form-input {
    width: 100%;
    margin: 20px auto;
    background-color: #bebebe;
  }

  .texto-basquiat img {
    width: 100%;
  }

  .texto-basquiat {
    width: 80%;
  }
}
/* Fin medias queries */
body, .flex-container, .contenido-inspiracion, .section-contacto {
  background-color: #BDC3C7;
}

/*# sourceMappingURL=style.css.map */
