  /* Contato */
.section-contacto{
  background-color: #faf1dc;
}

.form-contacto{
    width: 400px;
    background: #faf1dc;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 7px 10px 37px #000;
    border-radius: 10px;
    h2{
      font-size: 22px;
      margin-bottom: 20px;
      color: #000;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
    }
  }
  
  label{
    font-family: 'Nunito', sans-serif;
    justify-content: left;
    font-weight: 500;
  }
  
  .form-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    background: #cacaca;
  }
  
  .form-buton{
    width: 100%;
    background: #cacaca;
    border: 1px solid;
    border-radius: 5px;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  /* Fin contacto */