/* Footer */
footer{
    width: 100%;
    padding: 5px 0px;
    background-color: #b4b4b4;
  }
  
  .container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
  }
  
  .box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'Nunito', sans-serif;
      .logo{
          img{
            width: 180px;
            margin-left: 100px;
          } 
      }
      .frase{
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #1a1a1a;
        font-size: 18px;
      }
     
      h2{
        margin-bottom: 30px;
        color: #1a1a1a;
      }
      
      a{
        margin-top: 10px;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        color: #1a1a1a;
        &:hover{
          color: #535353;
        }
      }
  }
  
  .redes{
    font-size: 25px;
    font-weight: 600;
  }
  
  
  .box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    p{
      margin-top: 20px;
      color: #1a1a1a;
    }
   
    hr{
      height: 1px;
      background-color: #1a1a1a;
    }
  }

  /* Fin pie pagina */