/* Header */
header {
    display: flex;
    padding: 100px; 
    background-image: url(../images/images-nico/cabeza.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Fin header */

    /* nombre */
    h1{
      font-family: 'Nunito', sans-serif;
      font-size: 100px;
      font-weight: 800;
      width: 100%;   
      color: #b4b4b4;
      text-align: center;
      &:hover{-webkit-transform:scale(1.1);transform:scale(1.1);}
    }
    
  /* fin nombre */