/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; 
    background-image: url(images/images-basquiat/basquiat-wallpaper);
    background-size: cover;
  }
  /* Fin header */