/* Medias queries */
@media only screen and (max-width:560px) {
  h1{
    width: 100%;
    font-size: 60px;
  }

  .navbar{
    width: 100%;
    font-size: 10px;
  }

  .navbar a {
    font-size: 16px;
    font-weight: normal;
  }

  .contenido-quien{
    p{
      width: 100%;
    }
  }

  h2, .title{
    font-size: 20px;
  }

  .pie-font, .pie-redes{
      font-size: 20px;
      width: 100%;
    }
  
  .form-contacto, .form-input{
      width: 100%;
      margin: 20px auto;
      background-color: #bebebe;
     }
  
  .texto-basquiat img{
    width: 100%;
    }
  
  .texto-basquiat{
    width: 80%;
    }
  }
/* Fin medias queries */