/* Quien soy */
.contenido-quien{
    width: 100%;
    .nico-text{
      width: 540px;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
      text-align: justify;
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
    }

    .foto-nico{
      width: 100%;
      margin-left: 10px;
      margin-top: 10px;
      border-radius: 10px;
    }
    img{
      width: 300px;
      margin: 0 auto;
    }

    
}
  /* Fin quien soy */