/* Reseteo */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-size: 100%;
	vertical-align: baseline;
}

body{
    @extend %color-fondo;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import'header';
@import'navbar';
@import'quien-soy';
@import'mis-pinturas';
@import'inspiracion';
@import'contacto';
@import'footer';
@import'mediasquery';
@import'extend';
