/* Reseteo */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-size: 100%;
	vertical-align: baseline;
}

body{
    background-color: #cdcdcd;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import'header';
@import'navbar';
@import'quien-soy';
@import'mis-pinturas';
@import'inspiracion';
@import'contacto';
@import'footer';
@import'mediasquery';
